:root {
	--text: #bbb;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'courier new';
	display: flex;
	flex-direction: column;
	height: 100vh;
}
h1 {
	text-align: center;
	background-color: #100;
	color: var(--text);
	padding: 10px;
	height: 50px;
}
#chat-window {
	overflow-y: auto;
	background-color: #010;
	color: var(--text);
	padding: 5px;
	height: calc(100vh - 80px);
}
.ellipsis {
	color: #993;
}
form {
	display: flex;
	align-items: center;
	background-color: #001;
	color: var(--text);
	height: 30px;
}
.input {
	background-color: #002;
	color: var(--text);
	flex-grow: 3;
}
#user-list {
	position: absolute;
	top: 50px;
	right: 0;
	background-color: #222;
	color: var(--text);
	padding: 10px;
	display: none;
	width: 250px;
	margin: 0 auto;
}
